<%= form_with(model: list) do |form| %>

  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title %>

  <div class="fieldset">
    <%= form.label :allowed_user_ids, 'Available for:' %>
    <%= form.collection_check_boxes :allowed_user_ids, User.where.not(id: current_user.id), :id, :email, { class: 'input' } do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
