<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
      <th># tasks</th>
      <th colspan="3">Acitons</th>
    </tr>
  </thead>
  <tbody>
    <% lists.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td><%= list.user.email %>
        <td><%= list.tasks.count %></td>
        <td>
          <%= link_to 'Show', list_path(list) %>
          <%= link_to 'Edit', edit_list_path(list) %>
          <%= link_to 'Delete', list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
