<!DOCTYPE html>
<html>
  <head>
    <title>TodoListApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <nav>
        <%= link_to 'Lists', root_path %> |
        <%= link_to 'New List', new_list_path %> |
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
